DerivedDataCache
Intermediate
Build
Saved
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Binaries
/Plugins/EnginePlugins/Runtime/CriWare/CriWare/Binaries
*.dll
*.pdb
